{% extends "base.html.twig" %}
{% block body %}
    
    <table>
    <tr>Article</tr>
        <tr><td>{{ article.titreArticle }}</td></tr>
        <tr><td>{{ article.contenuArticle }}</td></tr>
    </table>
        
{% endblock %}